.block-hooklist-angular h2 {
    border-bottom: 1px solid #d6d6d6;
}

.block-hooklist-angular .hooklist-hook h2 {
    float: left;
    border: none;
}

.block-hooklist-angular .panel-search {
    padding: 10px;
    border: 5px solid #7DB3FF;
    background-color: #EDECFF;
}

.block-hooklist-angular .panel-search ul {
    padding: 0;
}

.block-hooklist-angular .hooklist-hook {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #EFD7FF;
    background-color: #F1FFFB;
}

.block-hooklist-angular .category-label {
    margin-left: 10px;
}

.block-hooklist-angular .category {
    float: right;
    margin: 25px 5px 2px 0;
}

.block-hooklist-angular .category-name {
    font-style: italic;
    font-weight: bold;
}

.block-hooklist-angular .description {
    margin-top: 10px;
    padding: 10px;
    background-color: #D4F2FF;
}

.block-hooklist-angular .tips {
    margin-top: 10px;
    background-color: #FFFDE7;
}

.block-hooklist-angular .tips label {
    padding: 10px;
}

.block-hooklist-angular .tips ul {
    margin: 0;
    padding: 15px;
    background-color: rgba(40, 40, 0, 0.06);
}

.block-hooklist-angular .tips ul li {
    list-style-type: square;
    margin-left: 10px;
}

.block-hooklist-angular .tips ul li.last {
    margin-bottom: 0;
}

.block-hooklist-angular .toggle {
    float: right;
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #6A1B9A;
    cursor: pointer;
}

.block-hooklist-angular .sample-code {
    margin-top: 10px;
    background-color: #EDE7F6;
}

.block-hooklist-angular .sample-code label {
    padding: 10px;
}

.block-hooklist-angular .sample-code pre {
    margin: 0;
}

.block-hooklist-angular .tips.ng-hide-add, 
.block-hooklist-angular .tips.ng-hide-remove,
.block-hooklist-angular .sample-code.ng-hide-add, 
.block-hooklist-angular .sample-code.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: all 0s linear;
}

.block-hooklist-angular .tips.ng-hide-add-active,
.block-hooklist-angular .sample-code.ng-hide-add-active {
  /* the transition is defined in the active class */
    -webkit-transition: all 200ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
            transition: all 200ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}
.block-hooklist-angular .tips.ng-hide-remove-active,
.block-hooklist-angular .sample-code.ng-hide-remove-active {
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.block-hooklist-angular .tips.ng-hide,
.block-hooklist-angular .sample-code.ng-hide {
    opacity: 0;
}

.block-hooklist-angular .tags ul {
    padding: 0;
}

.block-hooklist-angular .tag {
    display: inline-block;
    margin-right: 5px;
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
    background-color: #D0D0D0;
    color: white;
    font: bold 13px Helvetica, arial;
}

.block-hooklist-angular .tag.filter {
    cursor: pointer;
}

.block-hooklist-angular .tag.selected {
    background-color: #FF6D00;    
}

.block-hooklist-angular .tag-required.selected {
    background-color: #D50000;
}

.block-hooklist-angular .tag-optional.selected {
    background-color: #64DD17;
}

.block-hooklist-angular .tag-hook.selected {
    background-color: #2962FF;
}

.block-hooklist-angular .tag-function.selected {
    background-color: #FFAB00;
}

.clear {
    clear: both;
}
